<html>
<body>

<a href="{{url_for('disconnect')}}">Logout</a>

  <h1>The Shops</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

  <a href='{{url_for('newShop')}}'>Make New Shop</a>

  {% for shop in shops %}
  <div>
    <p>{{shop.name}}</p>
    <a href='{{url_for('showCatalog', shop_id=shop.id)}}'>Catalog</a>
    <a href='{{url_for('editShop', shop_id=shop.id)}}'>Edit</a>
    <a href='{{url_for('deleteShop', shop_id=shop.id)}}'>Delete</a>
  </div>
  {% endfor %}

</body>
</html>
