<html>
<body>

  <h1>Catalog for {{shop.name}} (owner: {{owner.name}})</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

  <a href='{{url_for('newCatalogItem', shop_id=shop.id)}}'>Make New Catalog Item<a>

  {% for item in catalog %}
  <div>
    <h3>{{item.name}}</h3>
    <ul>
      <li>{{item.price}}</li>
      <li>{{item.score}}</li>
      <li>{{item.region}}</li>
      <li>{{item.grape}}</li>
      <li>{{item.style}}</li>
      <li>{{item.food}}</li>
    </ul>
    <a href='{{url_for('editCatalogItem', shop_id=shop.id, catalog_id=item.id)}}'>Edit<a>
    <a href='{{url_for('deleteCatalogItem', shop_id=shop.id, catalog_id=item.id)}}'>Delete<a>
  </div>
  {% endfor %}

  </br></br>
  <a href='{{url_for('showShops')}}'>Back to shop list<a>

</body>
</html>
