{% extends "main.html" %}
{% block content %}

  <header class="jumbotron-fluid">
    <div class="col-sm-12 text-center bg-primary text-white">
      <h1>Items in {{catalog.name}}</h1>
      <h3>Owned by {{owner.name}}</h3>
    </div>
  </header>

  <section class="col-sm-12 text-left bg-white text-muted">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  </section>

  {% for item in items %}
  <section class="col-sm-12 text-center">
    <h3 class="text-primary">{{item.name}}</h3>

    <div class="bg-info text-primary">
      <p>{{item.vintage}}</p>
      <p>{{item.price}}</p>
      <p>{{item.score}}</p>
      <p>{{item.producer}}</p>
      <p>{{item.region}}</p>
      <p>{{item.grape}}</p>
      <p>{{item.food}}</p>
      <p>{{item.style}}</p>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <a href='{{url_for('newItem', catalog_id=catalog.id)}}' class="text-warning">Make New Item</a>
      </div>
      <div class="col-sm-3">
        <a href='{{url_for('editItem', catalog_id=catalog.id, item_id=item.id)}}' class="text-warning">Edit</a>
      </div>
      <div class="col-sm-3">
        <a href='{{url_for('deleteItem', catalog_id=catalog.id, item_id=item.id)}}' class="text-warning">Delete</a>
      </div>
      <div class="col-sm-3">
        <a href='{{url_for('showCatalogs')}}' class="text-warning">Back to catalog list</a>
      </div>
    </div>
  </section>
  {% endfor %}

{% endblock %}
