{% extends "main.html" %}
{% block content %}

  <header class="jumbotron-fluid">
    <div class="container-fluid col-sm-12 text-right bg-primary text-white">
      <h1>The CATALOGS</h1>
      <p><a href="{{url_for('newCatalog')}}" class="text-warning">Make Your Own Catalog!</a></p>
      <p><a href="{{url_for('disconnect')}}" class="text-warning">Logout</a></p>
    </div>
  </header>

  <section class="col-sm-12 text-left bg-white text-muted">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  </section>

  <section class="text-center bg-info text-primary">
    <div class="row">
    {% for catalog in catalogs %}
      <div class="col-sm-6">
        <h3>{{catalog.name}}</h3>
        <p><a href='{{url_for('showItems', catalog_id=catalog.id)}}' class="text-warning">Browse Items</a></p>
        <p><a href='{{url_for('editCatalog', catalog_id=catalog.id)}}' class="text-warning">Edit</a></p>
        <p><a href='{{url_for('deleteCatalog', catalog_id=catalog.id)}}' class="text-warning">Delete</a></p>
      </div>
    {% endfor %}
  </section>

  <footer class="text-center text-muted">
    <p>©Copyright FY Eric Lam 2018</p>
  </footer>

{% endblock %}
